@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background-color: rgb(203, 222, 250);
    color: rgb(35, 163, 73);
    font-family: "Press Start 2P", cursive;
}
a {
    color: rgb(255, 7, 7);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited {
    color: rgb(45, 143, 50);
}

h1 {
    color: rgb(35, 163, 73);
}
h2 {
    color: rgb(162, 21, 197);
}
.avatar1 {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(22, 74, 218, 025);
}
.youtube {
    color: rgb(255, 0, 0);
}
.info {
    color: rgb(93, 49, 175);
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 30px;
}

.name {
    font-size: 20px;
    color: rgb(35, 163, 73);
}
/* box model */
/* .Antek {
    background: rgb(179, 106, 221);
    padding: 15px 10px;
    border: 3px solid rgb(255, 255, 255);
    border-bottom-style: solid;
    border-right-color: green;
    margin: 10px;
}
.contener {
    max-width: 1000px;
    margin: auto;
}
.box-model > div {
    float: left;
    background: #000;
    height: 200px;
    width: 10%;
    border: 4px solid rgb(156, 80, 80);
    box-sizing: border-box;
} */

.bg-yellow {
    background: #fff9dc;
    color: rgb(93, 49, 175);
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 30px;
}

.bg-green {
    background: #e5ffe7;
    font-size: 12px;
    line-height: 20px;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2 {
    margin: 10px;
}
.what {
    color: rgb(255, 0, 0);
}
.table {
    
}
